.parts-liner-loading-wrapper {
  position: relative;

  &__contest {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }

}
