@import '../../../util/colors.scss';

.parts-simple-flat-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin:2px;
  font-size: 23px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color:$util-color-white;
  background: $util-color-dark-grey;
  overflow: hidden;
  border-radius: 12px;
  transition: .3s;

  i {
    line-height:50px;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }
}
