@import '../../../util/colors.scss';

.parts-simple-box {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: 400;
  // color: #6091d3;
  background: $util-color-white;
  // border: solid 3px #6091d3;
  color: $util-color-black defalut;
  border: solid 3px $util-color-black defalut;
  border-radius: 10px defalut;

  p {
    margin: 0;
    padding: 0;
  }
}
