@import '../../../_variables.scss';

$parts-simple-button-default-color: #85fd35;
$parts-simple-button-default-border-bottom-color: #00d21c;

.parts-simple-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 6px 12px;
  border-radius: 32px;
  font-size: 13px;

  &:hover {
    // border: 2px solid rgb(0, 0, 0, 0.42);
    background: #cccccc;
  }

  /* &:focus {
    border: 2px solid $util-color-dark-blue;
    // z-index: 10;
    // outline: 0; outline は CSS の一括指定プロパティで、輪郭線 (outline) に関する様々なプロパティを単一の宣言で設定する。
  } */
}
