.parts-label-header {
  margin: 0 0 0 0;
  text-align: left;
  font-size: 18px;
  // font-family: monospace, fantasy;
  font-weight: inherit;
  line-height: 27px;
  position: relative;
  text-indent: 20px;
  &::before {
    content: '';
    // background-color: #1565c0;
    border-radius: 2px;
    display: block;
    height: 27px;
    position: absolute;
    width: 8px;
  }

  &__blue {
    &::before {
      background-color: #1565c0;
    }
  }

  &__green {
    &::before {
      background-color: #006f5f;
    }
  }

  &__red {
    &::before {
      background-color: #ac291d;
    }
  }
}
